# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
*.log