{% extends "base.html" %}

{% block title %}
SteamPay | Вход
{% endblock %}


{% block content %}
<section class="section-login">
    <div class="container-login">
        <form method="post" action="{{ url_for('auth_routes.login') }}" class="form-login" id="loginForm">

            <h2>Вход</h2>

            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="form-group password-group">
                <input type="password" id="password" name="password" placeholder="Пароль" required>
                <button type="button" id="togglePassword" class="toggle-password-btn">Показать</button>
            </div>

            <div id="errorMessage" class="error-message"></div>

            <div class="login-btn">
                <button type="submit" id="submitBtn">Войти</button>
            </div>

            <div class="login-button">
                <p>Нет аккаунта? <a href="{{ url_for('auth_routes.register') }}">Зарегистрироваться</a></p>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/auth/login.js')}}"></script>
{% endblock %}
