{% extends "base.html" %}

{% block title %}
SteamPay | Регистрация
{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-container">
        <h2 class="auth-title">Регистрация</h2>

        <form class="auth-form" method="post" id="registerForm">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Имя пользователя">
            </div>

            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Ваш Email">
            </div>

            <div class="form-group password-group">
                <input type="password" id="password" name="password" placeholder="Пароль">
                <button type="button" id="togglePassword1" class="toggle-password-btn">Показать</button>
            </div>

            <div class="form-group password-group">
                <input type="password" id="confirmPassword" name="confirm_password" placeholder="Подтвердите пароль">
                <button type="button" id="togglePassword2" class="toggle-password-btn">Показать</button>
            </div>

            <div id="errorMessage" class="error-message"></div>

            <div class="auth-btn">
                <button type="submit" id="submitBtn">Создать аккаунт</button>
            </div>

            <div class="auth-bottom">
                <p>Уже есть аккаунт? <a href="{{ url_for('auth_routes.login') }}">Войти</a></p>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/auth/register.js')}}"></script>
{% endblock %}