{% extends "base.html" %}

{% block title %}
SteamPay | Регистрация
{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-container">
        <h2 class="auth-title">Регистрация</h2>

        <form class="auth-form" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Имя пользователя">
            </div>

            <div class="form-group">
                <input type="email" name="email" placeholder="Ваш Email">
            </div>

            <div class="form-group">
                <input type="password" name="password" placeholder="Пароль">
            </div>

            <div class="form-group">
                <input type="password" name="confirm_password" placeholder="Подтвердите пароль">
            </div>

            <div class="auth-btn">
                <button type="submit">Создать аккаунт</button>
            </div>

            <div class="auth-bottom">
                <p>Уже есть аккаунт? <a href="{{ url_for('auth_routes.login') }}">Войти</a></p>
            </div>
        </form>
    </div>
</section>
{% endblock %}